{% load staticfiles %}
<html>
    <head>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href='https://fonts.googleapis.com/css?family=Neucha&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

<title>HOME</title>

<style>
   body {
    background-image: url(static/images/index_bg.png); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
</style>

    </head>   
      <body>
<!-- <ul class="nav nav-tabs">

  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="{% url 'home.views.index_blog' %}">Blog</a></li>
  <li role="presentation"><a href="{% url 'home.views.index_gifscreen' %}">Gifscreen</a></li>

</ul> -->

        <a class="ghost-button-long" style="" href="/">ВИБИРАЙТЕ ЗАСТОСУНОК </a>


        <div class="page-body" style="">


<div>
           <a class="ghost-button" style="background-image:url(static/images/button1_bg.gif); background-size: cover;" href="{% url 'blog.views.post_list' %}">БЛООООГ!</a>
</div>

<div>
           <a class="ghost-button2" style="background-image:url(static/images/button2_bg.gif); background-repeat: no-repeat; background-size: cover;" href="{% url 'screen.views.screen_home' %}">НЕЗАБАРОМ...</a>
</div> 

   

        </div>





      </body>


</html>
